{% extends "base.html" %}
{% load catering_tags %}
{% block title %}Замовлення на:{% endblock %}
{% block header %}
    <style>
    .cat-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .accordion-item {
        border-top: solid 1px #eee;
    }

    .cart{
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        border-left: 1px solid #28a745;
        padding: 20px 10px;
    }
    .accordion-header {
        display: flex;
        justify-content: space-between;
    }
    .accordion-header::after{
        {#content: '\0009 \2228';#}
        content: ' \0009 \005E';
        color: #a05f5f;
    }
    .collapsed > .accordion-header::after{
        {#content: ' \0009 \005E';#}
        content: '\0009 \2228';
        color: darkcyan;
    }
    .food_image{
        min-width: 100px;
        width: 100px;
        height: 100px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;"
    }
    .food_block{
        width: calc(25% - 4px);
        background-color: #fff;
        border: 1px solid #dedede;
        position: relative;
        min-width: 200px;
        margin: 2px;
    }
    .food_category:nth-child(2n){
        background-color: #eee;
    }
    .accordion-header{
        background-color: rgba(150,150,150,0.1);
        border-bottom: 1px solid #28a745;
    }
    h1{
        text-transform: uppercase;
        font-size: 4rem;
        font-weight:600;
    }
    h5{
        margin-top: 30px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid #28a745;
        color: #aaa;
    }
    .food_name{
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        min-height: 50px;
    }
    .food_name a{
        text-decoration: none;
    }
    .price{
        font-size: 32px;
        font-weight: 600;
        text-align: right;
        color: #ddd;
    }
    em{
        position: absolute;
        bottom: 0;
        left: 10px;
        font-size: 12px;
        opacity: 0.4;
    }
    #cart_order input{
        width: 40px;
    }
    .deleting{
        cursor: pointer;
    }
    .text-decoration-line-through{
        text-decoration: line-through red;
        opacity: 0.3;
    }
    .cart_btn{
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    .description{
        margin-bottom: 4rem;
        color: #777;
    }
    </style>
    <script>
        function validate_count() {
            $('input').each(function () {
                if ($(this).val() == 0) {
                    console.log('if', $('input').val())
                    $(this).parent().parent().addClass('text-decoration-line-through')
                } else {
                    console.log('else', $('input').val())
                    $(this).parent().parent().removeClass('text-decoration-line-through')
                }
            })

        }
        function cart_order_sum() {
            let total = 0;
            $('.cart_object').each(function() {
                let price = $(this).find('.cart_food_price').text().trim();
                let quantity = $(this).find("input").val()
                total += parseFloat(price) * parseFloat(quantity);
            });
            $('#cart_summ_order').html(total)
        }
        $(document).ready(function () {
            cart_order_sum()
            $('.cart_add').click(function () {
                let food_id = $(this).attr('food_id')
                let food_name = $(this).attr('food_name')
                let food_price = $(this).attr('food_price')
                let container = $(this).parent('.cart_btn')
                let count = container.children('input').val()
                $('#cart_order').append(function () {
                    let food_in_cart = $('input[name="' + food_id + '"]')
                    if (food_in_cart.length > 0) {
                        let new_quant = parseInt(food_in_cart.val()) + 1
                        food_in_cart.val(new_quant).attr('type', 'number').attr('value', new_quant)
                        validate_count()
                    } else {
                        $(this).append('<tr class="cart_object">' +
                            '<td><span class="cart_food_name">' + food_name + '</span></td>' +
                            '<td><span class="cart_food_price">' + food_price + '</span></td>' +
                            '<td width="30px"><input type="number" name="' + food_id + '" value="' + count + '"></td>' +
                            '<td width="10px">&nbsp;<span class="deleting" name="' + food_id + '">x</span></td>' +
                            '</tr>')
                    }
                    cart_order_sum()
                })
            })
            {#$('.deleting').click(function () {#}
            $('#cart_order').on('click', '.deleting', function(){
                $('input[name="' + $(this).attr("name") + '"]').val(0).attr('value', 0)
                validate_count()
                cart_order_sum()
            })
            $('#cart_order').on('click', 'input', function () {
                validate_count()
                cart_order_sum()
            })
        });
    </script>
{% endblock %}
{% block content %}
{#    <div style="height: 60px;">&nbsp;</div>#}
    <div class="w-100 d-flex flex-colomn">
    {#    <div class="col-1">&nbsp;</div>#}
        <div class="col-9">
            {% for provider in providers %}
                <div>
                    <h1 class="ml-5">{{ provider }}</h1>
                    <div class="accordion accordion-flush" id="accordionFlushFood">
                        {% for cat in provider.categorysfoods.all %}
                            {% if cat.foods.all %}
                                <div class="w-100 food_category accordion-item">
                                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                       data-bs-target="#flush-collapse_{{ provider |slugify }}_{{ forloop.counter }}" aria-expanded="false"
                                       aria-controls="flush-collapse_{{ provider|slugify }}_{{ forloop.counter }}">
                                        <h2 class="accordion-header  px-3 py-2" id="flush-heading_{{ provider|slugify }}_{{ forloop.counter }}"><span>{{ cat }}</span></h2>
                                    </div>

                                    <div id="flush-collapse_{{ provider|slugify }}_{{ forloop.counter }}"
                                         class="cat-container p-1 accordion-collapse collapse" aria-labelledby="flush-heading_{{ provider|slugify }}_{{ forloop.counter }}" data-bs-parent="#accordionFlushFood">
                                        {% for foo in cat.foods.all %}
                                            <div class="p-2 d-flex flex-row food_block">
                                                <div class="pl-1 w-100">
                                                    <div class="food_name">
                                                        <a href="{{ foo.link }}" target="_blank">{{ foo.title }}</a>
                                                    </div>
                                                    <div class="d-flex flex-nowrap justify-content-between pb-2">
                                                        <div class="food_image" style="background-image: url('{{ foo.image }}');"></div>
                                                        <div class="price">{{ foo.price }} грн</div>
                                                    </div>
                                                    <p class="description">{{ foo.description }}. <br>
                                                        {% if foo.weight %}Вага:{{ foo.weight }}{% endif %}
                                                    </p>

                                                    <div class="cart_btn m-2">
                                                        <input class="w-25" type="number" value="1" >
                                                        <div class="btn btn-outline-success cart_add"
                                                             food_id="{{ foo.id }}"
                                                             food_price="{{ foo.price }}"
                                                             food_name="{{ foo.title }}">
                                                            Add to cart </div>
                                                    </div>
                                                    <em>last_update {{ foo.last_update }}</em>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-3 cart">
        <h5></span>Замовлення на:</span> <span>{{ order_day }}</span></h5>
        <form method="post" name="DTAA">
            {% csrf_token %}
            <input type="hidden" name="order_day" value="{{ order_day }}">
            <table id="cart_order" width="100%">
            {% if ordered %}
                {% for ord in ordered %}
                    <tr class="cart_object">
                        <td><span class="cart_food_name{% if ord.payer %} text-success{% endif %}">{{ ord.food }}</span></td>
                        <td><span class="cart_food_price{% if ord.payer %} text-success{% endif %}">{{ ord.food.price }}</span></td>
                        <td><input type="number" name="{{ ord.food.id }}" value="{{ ord.quantity }}"{% if ord.payer %}disabled {% endif %}></td>
                        <td>{% if ord.payer %}
                        {% else %}
                           &nbsp;<span class="deleting" name="{{ ord.food.id }}">x</span>
                        {% endif %} </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </table>
            <div class="d-flex justify-content-between mt-4">
                <input class="mt-4" type="submit" value="Send order">
                <div class="align-content-end">
                    Сумма: <span id="cart_summ_order">0</span> грн
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}
