{% extends "base.html" %}
{% load catering_tags %}
{% block title %}Dashboard{% endblock %}
{% block header %}

{% endblock %}
{% block content %}

    <div class="row row-cols-5 justify-content-center mx-5">
    {% for day, orders in dashboard.items %}
        <div class="col">
            <div class="d-flex justify-content-between te" style="border-bottom: 1px solid gray">
                <h3 class="text-uppercase">{{ day }}</h3>
                <sup>{% if orders.0.order_for_day %}
                    {{ orders.0.order_for_day|date:"(d-m-Y)" }}
                    {% else %}
                    Немає замовлень
                {% endif %}
                </sup>
            </div>
            {% for food in orders %}
                {% if request.user == food.user %}
                    <div>
                        {{ forloop.counter }}. {{ food.food }} - {{ food.food.price }} = {{ food.user }}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
    {% endfor %}
    </div>


{% endblock %}