{% extends "base.html" %}
{% load catering_tags %}



{% block title %}{% endblock %}
{% block header %}
<script>
    $(function() {
        let goods = {}
        $(document).on('click touchstart', 'input[type="checkbox"]', function(){
            if ($(this).prop("checked") == true) {
                let raw_item = $(this).attr("name")
                let date = raw_item.match('\\d+\/\\d+\/.+')[0]
                let item = raw_item.match('^.+ -')[0].replace(' -', '')
                if (goods[date]){
                    goods[date].push(item)
                 }else{
                    goods[date] = [item]
                 }
            }else{
                if ($(this).prop("checked") == false) {
                    let raw_itemd = $(this).attr("name")
                    let loking_item = raw_itemd.toString()
                    $(`input[name="${loking_item}"]`).prop("checked", false)
                    let date = raw_itemd.match('\\d+\/\\d+\/.+')[0]
                    let item = raw_itemd.match('^.+ -')[0].replace(' -', '')
                    let num_item = goods[date].indexOf(item)
                    goods[date].splice(num_item, 1)
                    if(!goods[date].length){
                        delete goods[date]
                    }
                 }
            }
            let gd = ''
            for(let i in goods){
                gd += "<h6 class='mt-2 p-1 bg-light border-top'>"
                gd += i
                gd += "</h6>"
                for(let j in goods[i]){
                    gd += '<input class="chk-food" type="checkbox" name="' + goods[i][j] +' - '+ i +'" checked>  ' + goods[i][j]
                    gd += "<br>"
                }
            }

            $("#cart-goods").html(gd)
        })
    });
</script>
{% endblock %}
{% block content %}
<div style="height: 60px;">&nbsp;</div>
<form method="post">
    <div class="row w-100">
    <div class="col-1">&nbsp;</div>
    <div class="col">
        {% csrf_token %}
        <div class="accordion" id="accordionFood">
            {% for food in foods %}
                {% if food.food_set.all %}
                <div class="card">
                    <div class="card-header" id="{{ food.identic }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse_{{ food.id }}"
                                    aria-expanded="false" aria-controls="collapse_{{ food.id }}">
                                {{ food }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_{{ food.id }}" class="collapse" aria-labelledby="{{ food.identic }}"
                         data-parent="#accordionFood">
                        <div class="card-body">

                                {% for foo in food.food_set.all %}
                                    <div class="row border-bottom my-2">
                                        <div class="col-sm-2 border-right"> <img src="{{ foo.image }}" width="100px"></div>
                                        <div class="col-sm-6 border-right"><h4><a href="https://food.imperialcatering.com.ua{{ foo.link }}" target="_blank"> {{ foo.title }}</a> - {{ foo.price }} грн</h4><sub>{{ foo.description }}</sub></div>
                                        <div class="col">
                                            <div class="row">

                                                <div class="col-sm">{{ 0|wekdays }}<br /><input class="chk-food" type="checkbox" name="{{ foo.title }} - {{ 0|nextdays }}" disabled="disabled"></div>
                                                <div class="col-sm">{{ 1|wekdays }}<br /><input class="chk-food" type="checkbox" name="{{ foo.title }} - {{ 1|nextdays }}"></div>
                                                <div class="col-sm">{{ 2|wekdays }}<br /><input class="chk-food" type="checkbox" name="{{ foo.title }} - {{ 2|nextdays }}"></div>
                                                <div class="col-sm">{{ 3|wekdays }}<br /><input class="chk-food" type="checkbox" name="{{ foo.title }} - {{ 3|nextdays }}"></div>
                                                <div class="col-sm">{{ 4|wekdays }}<br /><input class="chk-food" type="checkbox" name="{{ foo.title }} - {{ 4|nextdays }}"></div>
                                                <div class="col-sm">{{ 5|wekdays }}<br /><input class="chk-food" type="checkbox" name="{{ foo.title }} - {{ 5|nextdays }}"></div>
                                                <div class="col-sm">{{ 6|wekdays }}<br /><input class="chk-food" type="checkbox" name="{{ foo.title }} - {{ 6|nextdays }}"></div>
    {#                                            <div class="col-sm-2">{% now "D" %}<br /><input type="checkbox" name="{{ foo.title }} - Mon"></div>#}

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

    </div>
    <div class="col-2">
    <div id="cart" class="col-2 position-fixed">
        <p class="h4">Корзина</p>

        <div id="cart-goods"></div>
        <hr />
        <button class="btn btn-success"><span class="btn_form_text">Отправить заявку</span></button>
    </div>
</div>
</form>
{% endblock %}
