{% extends "base.html" %}
{% load catering_tags %}


{% block title %}{% endblock %}
{% block header %}
    <script>
        let list_order = {}
        const parsed_order = function(datas){
            dish_date = datas.split(' - ')
            try{
                let day_list = list_order.dish_date[1]
                day_list.push(dish_date[0])
            }catch (e) {
                list_order[dish_date[1]] = [].pop(dish_date[0])
            }

        }

        $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                {# .linefood #}
                {#let za = $(this).parents('.linefood')#}
                {#let zz =za.children('.col-sm-6').children('.chslktext').text()#}
                let ordered_dish = $(this).attr('name')
                parsed_order(ordered_dish)
                console.log( list_order ) //+ zz.children('.chslktext').text());
            }
            else if($(this).prop("checked") == false){
                console.log("Checkbox is unchecked."+ $(this).parents('.linefood').children('.chslktext').text());
            }
        });
    });
    </script>
{% endblock %}
{% block content %}
    <div style="width: 90vw; height: 40px;">&nbsp;</div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionFood">
                    {% for food in foods %}
                        {% if food.food_set.all %}
                            <div class="card">
                                <div class="card-header" id="{{ food.identic }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapse_{{ food.id }}"
                                                aria-expanded="false" aria-controls="collapse_{{ food.id }}">
                                            {{ food }}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapse_{{ food.id }}" class="collapse" aria-labelledby="{{ food.identic }}"
                                     data-parent="#accordionFood">
                                    <div class="card-body">

                                        {% for foo in food.food_set.all %}
                                            <div class="row border-bottom my-2 linefood">
                                                <div class="col-sm-2 border-right"><img src="{{ foo.image }}"
                                                                                        width="100px">
                                                </div>
                                                <div class="col-sm-6 border-right"><h4><a
                                                        href="https://food.imperialcatering.com.ua{{ foo.link }}"
                                                        target="_blank"> <span class="chslktext">{{ foo.title }}</a> - {{ foo.price }} грн</span></h4>
                                                    <sub>{{ foo.description }}</sub></div>
            <div class="col">
                <div class="row">

                    <div class="col-sm">{{ 0|wekdays }}<br/><input class="chslk" type="checkbox" name="{{ foo.title }} - {{ 0|nextdays }}" disabled="disabled"></div>
                    <div class="col-sm">{{ 1|wekdays }}<br/><input class="chslk" type="checkbox" name="{{ foo.title }} - {{ 1|nextdays }}"> </div>
                    <div class="col-sm">{{ 2|wekdays }}<br/><input class="chslk" type="checkbox" name="{{ foo.title }} - {{ 2|nextdays }}"> </div>
                    <div class="col-sm">{{ 3|wekdays }}<br/><input class="chslk" type="checkbox" name="{{ foo.title }} - {{ 3|nextdays }}"> </div>
                    <div class="col-sm">{{ 4|wekdays }}<br/><input class="chslk" type="checkbox" name="{{ foo.title }} - {{ 4|nextdays }}"> </div>
                    <div class="col-sm">{{ 5|wekdays }}<br/><input class="chslk" type="checkbox" name="{{ foo.title }} - {{ 5|nextdays }}"> </div>
                    <div class="col-sm">{{ 6|wekdays }}<br/><input class="chslk" type="checkbox" name="{{ foo.title }} - {{ 6|nextdays }}"> </div>
                    {#                                            <div class="col-sm-2">{% now "D" %}<br /><input type="checkbox" name="{{ foo.title }} - Mon"></div>#}

                </div>
            </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="btn btn-success" style="position: fixed; top:0; right: 20px; z-index: 9999;"><span class="btn_form_text">Отправить заявку</span></button>


            </div>
            <div class="col-sm-3"><div style="position: fixed"> kjdfslmds;s</div>

            </div>
        </div>
    </form>
{% endblock %}