{% extends 'base.html'  %}

{% block content %}
    {% for date, dish in dishes.items %}
        <div>
        <h4>{{ date }}</h4>
            <ul>
            {% for d in dish %}
                <li><img src="{{ d.image }}" width="100px"><a href="https://food.imperialcatering.com.ua/{{ d.link }}" target="_blank"> {{ d }}</a> - {{ d.quantity }} шт -{{ d.price }}</li>
            {% endfor %}
            </ul>
        </div>

        - {{ dish.user }} - {{ dish.payer }}

    {% endfor %}
{% endblock %}

{# ------ TODO ------ #}
{#  link for ordering #}
{#  https://food.imperialcatering.com.ua/index.php?option=com_jshopping&controller=cart&task=add&quantity=5&to=cart&product_id=972&category_id=9  #}