{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block head %}
    <style>
        #reset_form{
            width: 400px;
            margin: auto;
        }
        form{
            display: flex;
            flex-direction: column;
        }
        input{
            flex: 1;
            margin: 5px 0;
        }
    </style>
{% endblock %}
{% block content %}
<div style="height: 70px"> </div>
    <h2>Reset password</h2>
    <div id="reset_form">
        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                {{ form.email }}
            <input type="submit" class=" btn-default btn-lg" value="Reset password" />
        </form>
    </div>
{% endblock %}