{% block menu %}
    <div class="container-lg">
        <div class="px-3">
            <div class="row border-bottom"><a href="/django__/dinershop/dinershop/static">Main</a> | <a href="/cart/">Заказы</a> | <a href="/admin/">Admin</a> | <a href="/admin/logout/">logout</a> | </div>
            <div class="row">
                <div class="col-sm-2 border-right">Фото</div>
                <div class="col-sm-6 border-right">Название / цена / описание</div>
                <div class="col border-right">Заказ</div>
            </div>
        </div>
    </div>
{% endblock %}